<input type="text" [(ngModel)]="title">
{{ title }}

<div *ngIf="title === 'platzi'">
  Esto es un div
</div>

<div [ngSwitch]="title">
<div *ngSwitchCase="'platzi'">Esto es platzi</div>
<div *ngSwitchCase="'angular'">Esto es angular</div>
<div *ngSwitchCase="'ionic'">Esto es ionic</div>
<div *ngSwitchDefault>Esto no hace match</div>
</div>

<button (click)="addItems()">Add Item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let item of items; index as i">
      {{item}} {{i}}
      <button (click)="deleteItems(i)">Delet Item</button>
  </li>
  <li *ngFor="let product of products ">
    <app-product (productClicked)="clickProduct($event)" [product]="product"></app-product>  </li>
</ul>